# CIFAR-100 (data_2) - Performance Config
# 4-block CNN with wider channels, targeting 55%+ accuracy
# Slower per epoch but significantly better results

model:
  name: "CIFAR100_Deep"
  architecture:
    # Block 1: 3 -> 48
    - type: "Conv2D"
      in_channels: 3
      out_channels: 48
      kernel_size: 3
      stride: 1
      padding: 1
    
    - type: "BatchNorm2D"
      num_features: 48
    
    - type: "ReLU"
    
    - type: "Conv2D"
      in_channels: 48
      out_channels: 48
      kernel_size: 3
      stride: 1
      padding: 1
    
    - type: "BatchNorm2D"
      num_features: 48
    
    - type: "ReLU"
    
    - type: "MaxPool2D"
      kernel_size: 2
      stride: 2
    # Now 16x16
    
    - type: "Dropout"
      p: 0.2
    
    # Block 2: 48 -> 96
    - type: "Conv2D"
      in_channels: 48
      out_channels: 96
      kernel_size: 3
      stride: 1
      padding: 1
    
    - type: "BatchNorm2D"
      num_features: 96
    
    - type: "ReLU"
    
    - type: "Conv2D"
      in_channels: 96
      out_channels: 96
      kernel_size: 3
      stride: 1
      padding: 1
    
    - type: "BatchNorm2D"
      num_features: 96
    
    - type: "ReLU"
    
    - type: "MaxPool2D"
      kernel_size: 2
      stride: 2
    # Now 8x8
    
    - type: "Dropout"
      p: 0.25
    
    # Block 3: 96 -> 192
    - type: "Conv2D"
      in_channels: 96
      out_channels: 192
      kernel_size: 3
      stride: 1
      padding: 1
    
    - type: "BatchNorm2D"
      num_features: 192
    
    - type: "ReLU"
    
    - type: "MaxPool2D"
      kernel_size: 2
      stride: 2
    # Now 4x4
    
    - type: "Dropout"
      p: 0.3
    
    # Block 4: 192 -> 256
    - type: "Conv2D"
      in_channels: 192
      out_channels: 256
      kernel_size: 3
      stride: 1
      padding: 1
    
    - type: "BatchNorm2D"
      num_features: 256
    
    - type: "ReLU"
    
    - type: "MaxPool2D"
      kernel_size: 2
      stride: 2
    # Now 2x2
    
    - type: "Dropout"
      p: 0.3
    
    # Classifier
    - type: "Flatten"
    
    - type: "Linear"
      in_features: 1024  # 256 * 2 * 2
      out_features: 512
    
    - type: "BatchNorm1D"
      num_features: 512
    
    - type: "ReLU"
    
    - type: "Dropout"
      p: 0.4
    
    - type: "Linear"
      in_features: 512
      out_features: 256
    
    - type: "ReLU"
    
    - type: "Dropout"
      p: 0.3
    
    - type: "Linear"
      in_features: 256
      out_features: "num_classes"

training:
  epochs: 100
  batch_size: 64
  learning_rate: 0.001
  optimizer: "Adam"
  weight_decay: 0.0005
  
  scheduler:
    type: "CosineAnnealingLR"
    T_max: 100
    eta_min: 0.00001
  
  early_stopping:
    enabled: true
    patience: 20
    min_delta: 0.001

data:
  image_size: 32
  augmentation:
    enabled: true
    horizontal_flip: 0.5
    rotation: 15
    brightness: 0.2
    contrast: 0.2

device:
  use_cuda: true
  device_id: 0
